<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387776887020-uhjqh6q02ap3ts6lp0oklnuq5l39j3br.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387776887020-uhjqh6q02ap3ts6lp0oklnuq5l39j3br</string>
	<key>API_KEY</key>
	<string>AIzaSyAYfqb92BkFh4jVACiBhnHsizTRcd9dNfk</string>
	<key>GCM_SENDER_ID</key>
	<string>387776887020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.community.swift.NewChat</string>
	<key>PROJECT_ID</key>
	<string>newchat-forever</string>
	<key>STORAGE_BUCKET</key>
	<string>newchat-forever.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387776887020:ios:0b73dde3daa5f1f7</string>
	<key>DATABASE_URL</key>
	<string>https://newchat-forever.firebaseio.com</string>
</dict>
</plist>